*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.newTodo{
    display:grid;
    justify-content: center;
    margin-top: 100px;
    margin-right: 86px;
}
li, .todoInput{
    width: 350px;
    height: 40px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 0 0 25px;
    font-size: 30px;
    background-color: white;
}
.btn , span{
    width: 80px;
    height: 40px;
    border: none;
    padding:0px 0 0 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20px;
    color: white;
    background-color: green;
}
span{
    position: relative;
    top: -2.5rem;
    left: 21.9rem;
    padding:6px 0 0 5px;
    background-color: red;
}
span, .btn:hover{
    cursor: pointer;
}